trigger:
- main  # Trigger pipeline on changes to main branch

pool:
  vmImage: 'ubuntu-latest'  # Use Microsoft-hosted agent

variables:
  VM_TARGET_FOLDER: '/home/azureuser/app'  # Target directory on VM
  SSH_ENDPOINT: 'AzureVM_SSH_Connection'   # Name of your SSH service connection

steps:
- checkout: self  # Checkout source code to agent

- task: CopyFilesOverSSH@0
  displayName: 'Copy files to Azure VM'
  inputs:
    sshEndpoint: $(SSH_ENDPOINT)
    sourceFolder: '$(System.DefaultWorkingDirectory)'
    contents: '**'  # Copy all files
    targetFolder: $(VM_TARGET_FOLDER)
    readyTimeout: 20000  # 20 second timeout

- task: SSH@0
  displayName: 'Install dependencies and start application'
  inputs:
    sshEndpoint: $(SSH_ENDPOINT)
    runOptions: commands
    commands: |
      cd $(VM_TARGET_FOLDER)
      npm install --production
      pm2 start index.js --name "my-app"
      pm2 save
      pm2 startup
    failOnStdErr: false