- name: Install dependencies
  run: npm install

# Remove this block:
# - name: Build React App
#   run: npm run build

- name: Copy Files to Azure VM
  uses: appleboy/scp-action@v0.1.7
  with:
    host: ${{ secrets.AZURE_VM_IP }}
    username: ${{ secrets.AZURE_VM_USER }}
    key: ${{ secrets.SSH_PRIVATE_KEY }}
    source: "."            # send all project files
    target: "/home/azureuser/app"  # set your desired folder
